<header>
  <nav>
    <% if(!locals.user) {%>
    <div>
      <a href="/sign-in">Sign In</a>
      <a href="/sign-up">Sign Up</a>
    </div>
    <% } %> <% if(locals.user){ %>
    <div class="username">
      <p><%=user.username %></p>
    </div>
    <a href="/logout">Logout</a>
    <% } %>
  </nav>
</header>
