<div>
  <p>Sign in</p>
  <form action="/sign-in">
    <div class="username">
      <label for="">Username</label>
      <input type="text" id="username" />
    </div>
    <label for="password">Password</label>
    <input type="text" id="password" />
  </form>
</div>
