:root {
  --login-button-padding: 1em 2em;
  --login-button-default-color: #1a73e8;
  --light-gray-border: 1px solid #dadce0;
  --dark-gray-border: 1px solid #b8b7b7;
  --login-button-active-color: #174ea6;
  --header-height: 4em;
  --main-theme-blue: #0053be;
  --main-theme-blue-filter: invert(27%) sepia(83%) saturate(2261%)
    hue-rotate(205deg) brightness(99%) contrast(84%);
  --filter-pure-black: invert(0%) sepia(100%) saturate(7442%) hue-rotate(186deg)
    brightness(82%) contrast(112%);
  --errors-warning-red: rgb(238, 56, 56);
  --errors-warning-red-filter: invert(31%) sepia(47%) saturate(5754%)
    hue-rotate(345deg) brightness(97%) contrast(92%);
  --light-blue-aside: #f7f9fd;
  --sky-blue-selected-folder-color: rgb(93, 178, 239);
  --simple-light-gray-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
